input {
	width: 100%;
	box-sizing: border-box;
	font-size: 24px;
	text-align: right;
	border: none;
	outline: none;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    overflow: hidden;
  }
  
  .display {
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .display input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 1.5em;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #eee;
  }
  
  @media screen and (max-width: 600px) {
    button {
      font-size: 1.5em;
    }
  }
  